<ion-header>
  <ion-toolbar>
    <ion-title>
      HR-Rate calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Age</ion-label>
      <ion-input [(ngModel)]="age" type="number" step="1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Upper limit:</ion-label>
      <ion-input readonly value="{{ ylaraja }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Lower limit:</ion-label>
      <ion-input readonly value="{{ alaraja }}"></ion-input>
    </ion-item>

    

  </ion-list>
  <div class="ion-padding">
    <ion-button block (click)="calculate()">Calculate</ion-button>
  </div>
</ion-content>
